.title{
  font-size: 50px;
  font-weight: bold;
  font-family: Courier New;
  color: #4A569D;
  background: -webkit-linear-gradient(#eee, #4A569D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}


.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

legend{
  font-family: 'Helvetica';
}
